[submodule "XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions
[submodule "XShortcuts"]
	path = XShortcuts
	url = https://github.com/horsicq/XShortcuts
[submodule "build_tools"]
	path = build_tools
	url = https://github.com/horsicq/build_tools
[submodule "XCppfilt"]
	path = XCppfilt
	url = https://github.com/horsicq/XCppfilt
[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats
[submodule "StaticScan"]
	path = StaticScan
	url = https://github.com/horsicq/StaticScan
[submodule "SpecAbstract"]
	path = SpecAbstract
	url = https://github.com/horsicq/SpecAbstract
[submodule "XArchive"]
	path = XArchive
	url = https://github.com/horsicq/XArchive
[submodule "XDEX"]
	path = XDEX
	url = https://github.com/horsicq/XDEX
[submodule "XStyles"]
	path = XStyles
	url = https://github.com/horsicq/XStyles
[submodule "XTranslation"]
	path = XTranslation
	url = https://github.com/horsicq/XTranslation
[submodule "XHashWidget"]
	path = XHashWidget
	url = https://github.com/horsicq/XHashWidget
[submodule "XCapstone"]
	path = XCapstone
	url = https://github.com/horsicq/XCapstone
[submodule "archive_widget"]
	path = archive_widget
	url = https://github.com/horsicq/archive_widget
[submodule "nfd_widget"]
	path = nfd_widget
	url = https://github.com/horsicq/nfd_widget
[submodule "Controls"]
	path = Controls
	url = https://github.com/horsicq/Controls
[submodule "FormatDialogs"]
	path = FormatDialogs
	url = https://github.com/horsicq/FormatDialogs
[submodule "FormatWidgets"]
	path = FormatWidgets
	url = https://github.com/horsicq/FormatWidgets
[submodule "XHexView"]
	path = XHexView
	url = https://github.com/horsicq/XHexView
[submodule "XDisasmView"]
	path = XDisasmView
	url = https://github.com/horsicq/XDisasmView
[submodule "XEntropyWidget"]
	path = XEntropyWidget
	url = https://github.com/horsicq/XEntropyWidget
[submodule "XMemoryMapWidget"]
	path = XMemoryMapWidget
	url = https://github.com/horsicq/XMemoryMapWidget
[submodule "XQwt"]
	path = XQwt
	url = https://github.com/horsicq/XQwt
[submodule "signatures"]
	path = signatures
	url = https://github.com/horsicq/signatures
[submodule "XDemangle"]
	path = XDemangle
	url = https://github.com/horsicq/XDemangle
[submodule "XDemangleWidget"]
	path = XDemangleWidget
	url = https://github.com/horsicq/XDemangleWidget
[submodule "XProcessMemoryMapWidget"]
	path = XProcessMemoryMapWidget
	url = https://github.com/horsicq/XProcessMemoryMapWidget
[submodule "XProcess"]
	path = XProcess
	url = https://github.com/horsicq/XProcess
[submodule "XDynStructs"]
	path = XDynStructs
	url = https://github.com/horsicq/XDynStructs
[submodule "XDynStructsEngine"]
	path = XDynStructsEngine
	url = https://github.com/horsicq/XDynStructsEngine
[submodule "XDynStructsWidget"]
	path = XDynStructsWidget
	url = https://github.com/horsicq/XDynStructsWidget
[submodule "XProcessWidget"]
	path = XProcessWidget
	url = https://github.com/horsicq/XProcessWidget
[submodule "XFileInfo"]
	path = XFileInfo
	url = https://github.com/horsicq/XFileInfo
[submodule "XProcessModulesWidget"]
	path = XProcessModulesWidget
	url = https://github.com/horsicq/XProcessModulesWidget
